@media only screen and (max-width: 995px) {
    main .container .row .title h1 {
        font-size: 80px;
    }

    main .container .row .title h1>span {
        font-size: 30px;
    }

    main .container .row #col-title>span {
        width: 280px;
        font-size: 18px;
    }

    section .container .buttons #vegan, #lactose, #gluten {
        background-color: #3F6953;
        width: 140px;
        height: 50px;
    }

}

@media only screen and (max-width: 767px) {
    nav { 
        padding-top: 40px;
    }

    nav #navbarNav .navbar-nav .nav-item #empresa {
        width: 140px;
        margin-left: 0;
    }

    main {
        margin-top: 50px;
    }

    main .container .row .title h1 {
        font-size: 50px;
    }

    main .container .row .title h1>span {
        font-size: 20px;
    }


    main .container .row .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .container .row #col-title>span {
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-bottom: 20px;

    }

    main .container .row #img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .container .row img {
        transform: rotate(0deg);
    }

    section .container .title h3 {
        font-size: 25px;
    }

    section .container .buttons #vegan, #lactose, #gluten{
        background-color: #3F6953;
        width: 120px;
        height: 40px;
        margin: 0 10px;
    }

    section .container .buttons #vegan a, #lactose a, #gluten a {
        font-size: 15px;
    }

    
    .group-card{
        flex-direction: column;
    }

    .group-card .card{
        height: 200px;
    }
    
    .group-card .card img{
        object-fit: contain;
    }

    .carousel-control-prev{
        margin-left: 60px;
    }
    
    #btn-prev, #btn-next{
        margin-top: 300px;       
    }
    
    .carousel-control-next{
        margin-right: 60px;
    }
    .group-card .card .card-body{
        position: absolute;
        display: flex;
        justify-content: end;
        align-items: center;
        align-self: flex-end;
        margin-top: 150px;
    }
    
    
}

@media only screen and (max-width: 474px) {

    main .container .row #col-title>span {
        font-size: 14px;
        text-align: center;
    }

    main .container .row img {
        transform: rotate(-18deg);
    }

    section .container .buttons #vegan, #lactose, #gluten {
        background: transparent;
        border: 4px solid #04F978;
        width: 50px;
        height: 50px;
        margin: 0 8px;
        border-radius: 100px;
    }

    section .container .buttons #vegan a, #lactose a, #gluten a{
        display: none;
    }

    section .container .buttons .img-mobile {
        display: block;
    }
    .group-card .card{
        height: 200px;
    }
    
    .carousel-control-prev, .carousel-control-next{
        margin: 0px;
        top: -100px;
    }

    .group-card .card .card-body{
        align-self: center;
    }

    .group-card .card .card-body{
        margin-top: 100px;
    }
    
    .group-card .card{
        width: 80%;
        height: 140px;
    }
}