@media only screen and (max-width: 995px){
    main .container .row .title h1{
        font-size: 80px;
    }

    main .container .row .title h1 > span{
        font-size: 30px;
    }
    
    main .container .row #col-title > span{
        width: 310px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px){
    nav{
        margin-top: 12px;
        background-color: rgba(0, 255, 121, 0.5);
        padding-top: 40px;
    }

    nav #navbarNav .navbar-nav .nav-item #empresa{
        width: 140px;
        margin-left: 0;
    }

    main{
        margin-top: 50px;
    }
    main .container .row .title h1{
        font-size: 60px;
    }

    main .container .row .title h1 > span{
        font-size: 20px;
    }
    

    main .container .row .title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .container .row #col-title > span{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    main .container .row #img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .container .row img{
        transform: rotate(0deg);
    }
}