/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin: 100px;
    scroll-margin-bottom: 20px;
}


html{
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    height: 100vh;
    background-color: #00ff79e6;
}


/* Nav */
nav {
    height: auto;
    width: 100%;
}

nav .container {
    display: flex;
    height: auto;
}



nav .container .navbar-toggler {
    background: linear-gradient(172.59deg, #3AA56D 3.94%, #00FF79 99.44%);
    color: #FFF;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: none;
    transition: 2s;
}
.menu-auxiliar {background-color:orange;} 

nav .container .navbar-toggler:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

nav #navbarNav {
    padding: 10px;
}

nav #navbarNav .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: end;
    align-self: center;
}

nav #navbarNav .navbar-nav .nav-item {
    margin-top: 10px;
}

nav #navbarNav .navbar-nav .nav-item .nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FBFFFD;
    border-radius: 5px;
}

nav #navbarNav .navbar-nav .nav-item .link-nav:hover {
    color: #00FF79;
    background-color: #FFF;
}

#empresa {
    width: 140px;
    height: auto;
    background-color: #3F6953;
    border-radius: 10px;
    text-align: center;
    margin-left: 30px;

}

nav #navbarNav .navbar-nav .nav-item #empresa:hover {
    background-color: #FFF;
    color: #00FF79;

}

/* Main */

main {
    height: auto;
    margin-bottom: 200px;
}


main .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

main .container .row .title {
    font-style: normal;
    color: #FFF;
}

main .container .row .title h1 {
    font-size: 120px;
    font-weight: 700;
}

main .container .row .title h1>span {
    font-size: 50px;
}

main .container .row #col-title>span {
    width: 380px;
    display: flex;
    justify-content: center;
    font-style: normal;
    color: #FFF;
    font-weight: 500;
    font-size: 22px;
}

main .container .row img {
    transform: rotate(-18deg);
}


/* Section */
section {
    width: 100%;
    height: auto;
    background-color: #FFF;
}

section .container {
    height: auto;
}

section .container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section .container .title h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    background: linear-gradient(180deg, #33AF6E 0%, #04F978 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

section .container .img-mobile{
    display: none;
}
section .container .buttons {
    width: 100%;
    height: auto;
}

section .container .buttons .row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

section .container .buttons #vegan, #lactose, #gluten{
    background-color: #3F6953;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    text-decoration: none;
    border-radius: 100px;
    background: linear-gradient(180deg, #3AA46D 0%, #04F978 100%);
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
}

section .container .buttons #vegan:hover, #lactose:hover, #gluten:hover{
    background: #04f177;
}

section .container .buttons #vegan a, #lactose a, #gluten a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* or 140% */
    text-align: center;
    color: #FFFFFF;
}


.group-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}


.group-card .card{
    width: 340px;
    height: 340px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0px 30px;
    margin-bottom: 4%;
    background: linear-gradient(180deg, #06F678 0%, #3AA56D 100%);
    border: none;
    border-radius: 14px;
}

.group-card .card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.group-card .card:hover{
    background: transparent;
    border: 1px solid #00FF79;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transition: 1s;
}

.group-card .card .card-body{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    align-self: flex-end;
    margin-top: 280px;
}

.group-card .card .btn{
    position: relative;
    width: 26px;
    height: 26px;
    background-color: #3F6953;
    border-radius: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;

}
.group-card .card .btn .fa-shop{
    width: auto;
    height: auto;
    color: #FFF;
    
}

.carousel-control-prev{
    width: 20px;
    margin-left: 40px;

}

#btn-prev, #btn-next{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #00FF79;
    color: #000000;
    margin-top: 150px;
    border-radius: 50px;
   
}

.carousel-control-next{
    width: 20px;
    margin-right: 40px;
}


.carousel-control-prev, .carousel-control-next{
    width: 20px;
    margin-left: 40px;

}

#btn-prev, #btn-next{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #00FF79;
    color: #000000;
    margin-top: 150px;
    border-radius: 50px;
   
}